
body{
  background: linear-gradient(350deg, lightblue,cyan);
}
.heading{
  text-align: center;
  justify-content: center;
  color:blue;
}
.balance{
  display: grid;
  text-align: center;
  justify-content: center;
  
}
.currentBalance{
  display: flex;
  border: 2px solid;
  border-bottom-color: purple
  border-radius: 10%;
}
.income{
  display: flex;
  border-radius: 10%;
  gap: 2px;
}
.currentSalary{
  border: 2px solid;
  display: grid;
  border-radius: 10%;
}
.expenses{
  border: 2px solid;
  display: grid;
  border-radius: 10%;
}
td{
  border-bottom: 2px solid;
  border-right: 2px solid;
  text-align: left;
  justify-content: left;
}
th{
  border-right: 2px solid;
  border-bottom: 2px solid;
  
}
tr,th{
  padding: 65px;
}
table{
  text-align: left;
  justify-content: left;
  
}
.userInput{
  display: flex;
  gap: 10px;
}
#expensesList{
  border-bottom: 2px solid;
  text-align: center;
}
.editSalaryBtn{
  background-color:blue;
}
.yourBehaviorHeading{
  border-bottom: 2px solid;
  border-top: 2px solid;
  text-align: center;
}
.yourExpenseHeading{
  border-bottom: 2px solid;
  border-top: 2px solid;
  text-align: center;
}
h1,h2,p{
  color:blue;
}
#addBtn{
  background-color:green;
}
.userInput{
  color:blue;
}
thead{
  background-color: blue;
}
#totalAmount,tfoot{
  background-color: red;
}
footer{
  text-align: center;
  background-color: blue;
  }
